@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 65px);
  font-family: "Roboto", sans-serif;

  .content {
    width: 900px;
    height: 450px;
    background: #fff;
    z-index: 999;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 5px 28px 3px rgba(107, 130, 115, 0.75);
    -webkit-box-shadow: 8px 5px 28px 3px rgba(107, 130, 115, 0.75);
    -moz-box-shadow: 8px 5px 28px 3px rgba(107, 130, 115, 0.75);

    .header-txt {
      h1 {
        font-size: 50px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 25px;
        color: #314e11;
      }
      p {
        font-size: 25px;
        color: #314e11;
        mat-icon {
          position: relative;
          top: 12px;
          margin-right: 5px;
          width: 40px;
          height: 40px;
          font-size: 40px;
          color: #314e11;
        }
      }
    }
  }
}
.header-content::before {
  content: "";
  background: linear-gradient(45deg, #c6d5c3, #314e11);
  background-size: cover;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

@media (max-width: 991px) {
  .header-content {
    .content {
      margin: 0 40px;
      padding: 0 40px;
      height: 390px;
      .header-txt {
        width: 100%;
        margin-bottom: 30px;
        h1 {
          text-align: center;
          margin-bottom: 30px;
          font-size: 40px;
        }
        p {
          font-size: 20px;
          mat-icon {
            width: 30px;
            height: 30px;
            font-size: 30px;
            top: 9px;
          }
        }
      }
    }
  }
}
