<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ hidden: (isHandset$ | async) === false }"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <img src="assets/ae-export-logo.jpg" alt="Avatar"
    /></mat-toolbar>
    <mat-nav-list>
      <a (click)="drawer.toggle()" mat-list-item href="#" routerLink="/inicio"
        >INICIO</a
      >
      <a
        (click)="drawer.toggle()"
        mat-list-item
        href="#"
        routerLink="/productos"
        >PRODUCTOS</a
      >
      <a (click)="drawer.toggle()" mat-list-item href="#" routerLink="/contacto"
        >CONTACTENOS</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <div class="links" *ngIf="(isHandset$ | async) === false">
        <a mat-button href="" routerLink="/inicio">INICIO</a>
        <a mat-button href="" routerLink="/productos">PRODUCTOS</a>
        <a mat-button href="" routerLink="/contacto">CONTACTENOS</a>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
