@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.sidenav-container {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.sidenav {
  width: 200px;
  background: linear-gradient(#b1cc94, #c6d5c3);
  mat-nav-list {
    margin-top: 65px;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: transparent;
  ::ng-deep.mdc-icon-button {
    color: black;
  }
}

::ng-deep.mdc-list-item__primary-text {
  color: #fff !important;
  font-weight: 700;
}

.hidden {
  display: none;
}
.spacer {
  flex: 1 1 auto;
}
img {
  border-radius: 50%;
  width: 90px;
  margin: auto;
  padding: 20px 0;
}
