<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <mat-toolbar color="primary">
        <span>AE Export</span>
        <div class="spacer"></div>

        <a mat-button href="">Principal</a><a mat-button href="">Nosotros</a
        ><a mat-button href="">Productos</a
        ><a mat-button href="">Contactenos</a>
      </mat-toolbar>
    </header>
    <section>
      <swiper-container>
        <swiper-slide
          ><img src="/assets/background.jpeg" alt=""
        /></swiper-slide>
        <swiper-slide
          ><img src="/assets/background.jpeg" alt=""
        /></swiper-slide>
        <swiper-slide
          ><img src="/assets/background.jpeg" alt=""
        /></swiper-slide>
        <swiper-slide
          ><img src="/assets/background.jpeg" alt=""
        /></swiper-slide>
      </swiper-container>
    </section>
  </body>
</html> -->

<app-main-nav></app-main-nav>
