.container {
  max-width: 1200px;
  margin: 20px auto;
}

.header-content::before {
  content: "";
  background: linear-gradient(45deg, #c6d5c3, #314e11);
  background-size: cover;
  opacity: 0.4;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.header-content {
  display: flex;
  justify-content: space-around;
  .main {
    display: flex;
    justify-content: space-around;
    .fruit {
      width: 30%;
      display: flex;
      flex-direction: column;
      .header-txt {
        padding: 0 10px;
        h1 {
          font-size: 30px;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 5px;
          &.palta {
            background: -webkit-linear-gradient(45deg, #617d44, #2e3b2b);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          &.mango {
            background: -webkit-linear-gradient(45deg, #ad5d01, #e3d399);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          &.arandano {
            background: -webkit-linear-gradient(45deg, #0643e0, #5b0384);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
        p {
          font-size: 16px;
          color: #404040;
          font-weight: 500;
          margin-bottom: 16px;
          line-height: 20px;
          text-align: justify;
          height: 120px;
        }
      }
    }
  }
}
.images {
  height: 380px;
  z-index: 999;
  margin: auto;
  img {
    width: 340px;
    height: 465px;
    border-radius: 8px;
  }
}

.swiper {
  width: 500px;
  height: 380px;
  bottom: 30%;

  swiper-container {
    swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-direction: column;
      h1 {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 5px;
        &.palta {
          background: -webkit-linear-gradient(45deg, #617d44, #2e3b2b);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &.mango {
          background: -webkit-linear-gradient(45deg, #ad5d01, #e3d399);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &.arandano {
          background: -webkit-linear-gradient(45deg, #0643e0, #5b0384);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      p {
        font-size: 16px;
        color: #404040;
        font-weight: 500;
        margin-bottom: 16px;
        line-height: 20px;
        text-align: justify;
        padding: 0 40px;
      }
      img {
        display: block;
        width: 65%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}

@media (max-width: 900px) {
  .header-content {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .fruit {
      width: auto;
      padding: 0 15px;
      .header-txt {
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
        top: 30px;
        h1 {
          margin-bottom: 10px;
          font-size: 25px;
        }
        p {
          font-size: 14px;
          height: auto;
          margin-bottom: 0;
        }
      }
    }
    &::before {
      background: #bce88e;
    }
  }

  .images {
    position: initial;
    width: auto;
    height: auto;
  }
}
